.top-vserk {
    height: 200px;
    width: 200px;
    background: #7589b2c2;
    border-radius: 50%;
    filter: blur(150px);
    margin-top: 405px;
    position: absolute;
    margin-left: 100px;
    left: 0;
}

.right-vserk {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    filter: blur(120px);
    margin-top: 48px;
    position: absolute;
    margin-right: 0;
    z-index: -1;
    right: 0;
}

.background-download-header {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.actual-background-header {
    height: 100%;
    right: 0;
    max-height: 650px;
    margin: auto;
    background-image: url(/assets/final.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    margin-top: 50px;
    max-width: 1000px;
    width: calc(100% - 350px);
}

.menu .logo {
    width: 90px;
    min-width: 50px;
    left: 0;
    margin-left: 6%;
    margin-top: 55px;
    position: absolute;
    height: 40px;
}

.menu {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;
}

.menu .logo:before {
    -webkit-mask-image: url(https://onvo.me/media/logo_word.svg);
    background: #fff;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
}

.left-content-zodiac {
    position: absolute;
    top: 0;
    margin-top: 180px;
    margin-left: 6%;
    max-width: 400px;
}

.left-content-zodiac {
    color: #fff;
}

.left-content-zodiac p {
    font-size: 30px;
    font-family: 'movie';
    font-weight: 100;
    width: 250px;
    line-height: 45px;
}

.download-button {
    width: 300px;
    height: 60px;
    background: rgb(255 255 255 / 10%);
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.download-button:before {
    content: '';
    -webkit-mask-image: url(/assets/windows.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background: white;
    width: 30px;
    height: 40px;
    position: absolute;
    margin-left: 20px;
    /* margin-top: 11px; */
}

.download-button:after {
    content: 'Download for windows';
    margin-left: 68px;
    display: flex;
    position: absolute;
    font-family: 'movie';
    font-size: 16px;
    line-height: 24px;
}

.download-button text {
    -webkit-mask-image: url(https://onvo.me/media/svg/new/down.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background: white;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

body {
    background-color: #000;
}

.left-content-zodiac span {
    font-size: 14px;
    width: 100%;
    display: flex;
    opacity: 0.5;
    font-family: 'movie';
    line-height: 20px;
    margin-top: 20px;
    font-weight: 100;
}

.frame {
    width: 100%;
    height: fit-content;
    display: flex;
    padding-bottom: 40px;
    position: relative;
    padding-top: 40px;
}

.first-frame {
    height: 100%;
    position: relative;
}

.frame-context-back {
    margin-left: 6%;
    width: 350px;
    height: 260px;
    background-image: url(/assets/syncfit.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

.botom-border-trans {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3px;
    overflow: hidden;
    background: linear-gradient(to left, transparent, rgb(117 137 178 / 20%), transparent);
}

.frame-context-body {
    width: 50%;
    align-items: center;
    display: grid;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-left: 50px;
    margin-bottom: auto;
}

.frame-context-body span {
    color: #fff;
    font-size: 30px;
    font-family: 'movie';
    font-weight: 100;
}

.frame-context-body p {
    color: #fff;
    font-size: 16px;
    font-family: 'movie';
    opacity: 0.5;
    font-weight: 100;
    margin-top: 25px;
}

.third-frame.frame .frame-context-back {
    margin-right: 6%;
    background-image: url(/assets/cloud.png);
    margin-left: 0;
}

.third-frame.frame {
    margin-top: 0;
    direction: rtl;
}

.third-frame.frame .frame-context-back {
    background-size: 450px;
    background-position: center;
}

.fourth-frame.frame .frame-context-back {
    background-image: url(/assets/subtitle.png);
    position: relative;
    background-size: 250px;
    width: 350px;
}

.suborted-context-back {
    width: 165px;
    height: 165px;
    right: 0;
    position: absolute;
    background-image: url(/assets/subs2.png);
    background-size: 165px;
    margin-top: -25px;
    z-index: -2;
    background-repeat: no-repeat;
    margin-right: 34px;
}

.buttons-frame {
    display: flex;
    margin-top: 30px;
}

.button-toturial {
    height: 40px;
    width: 125px;
    background: #fff;
    border-radius: 20px;
}

.button-toturial:after {
    content: 'Get started';
    font-family: 'movie';
    font-size: 14px;
    margin-left: 25px;
    margin-top: 8px;
    line-height: 20px;
    display: flex;
    cursor: pointer;
}

.btx-learn-more:before {
    content: 'Learn more';
    color: #fff;
    font-family: 'movie';
    font-weight: 100;
    font-size: 14px;
}

.btx-learn-more {
    display: flex;
    height: fit-content;
    margin-top: 10px;
    margin-left: 25px;
    line-height: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.btx-learn-more:after {
    content: '';
    width: 18px;
    height: 22px;
    background: #fff;
    -webkit-mask-image: url(https://onvo.me/media/svg/Broken/Arrow%20-%20Right%202.svg);
    margin-left: 5px;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    opacity: 0.75;
}


.frame.odd .buttons-frame .button-toturial:after {
    margin-left: 0;
    margin-right: 25px;
}

.frame.odd .btx-learn-more {
    margin-left: 0;
    margin-right: 25px;
}

.frame.odd .btx-learn-more:after {
    margin-left: 0;
    margin-right: 5px;
}

.frame.odd .btx-learn-more:after {
    -webkit-mask-image: url(https://onvo.me/media/svg/Broken/Arrow%20-%20Left%202.svg);
}

.flex-buttons-zeio {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    display: flex;
    margin-left: 6%;
}

.flex-buttons-zeio a {
    width: 150px;
    height: 80px;
    background-image: url(/assets/googleplay.png?s);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.left-content-zodiac a {
    width: fit-content;
    display: flex;
    height: fit-content;
    margin-top: 40px;
}

@media screen and (max-width: 1150px) {
    .left-content-zodiac {
        max-width: 340px;
        margin-top: 170px;
    }
}

@media screen and (max-width: 1150px) and (min-width: 600px) {
    .left-content-zodiac p {
        font-size: 28px;
        line-height: 40px;
    }

    .download-button {
        height: 50px;
        width: 270px;
        border-radius: 15px;
    }

    .download-button:before {
        -webkit-mask-size: 24px;
    }

    .download-button:after {
        font-size: 14px;
        margin-left: 62px;
    }
}

@media screen and (max-width: 1150px) {

    .actual-background-header {
        margin-top: 0;
        background-position: right 110px;
    }


    .frame-context-body {
        margin-left: 50px;
    }

    .frame-context-back {
        width: 250px;
    }

    .fourth-frame.frame .frame-context-back {
        width: 250px;
    }

    .frame-context-body p {
        font-size: 14px;
        margin-top: 25px;
    }

    .frame-context-body span {
        font-size: 25px;
    }

    .frame {
        padding-top: 35px;
        padding-bottom: 40px;
    }

}



@media screen and (max-width: 600px) {

    .actual-background-header {
        width: 88%;
        left: 0;
        margin-top: 450px;
        background-position: top center;
        height: 225px;
        background-size: 108%;
    }


    .download-button {
        width: calc(88vw - 85px);
        height: 50px;
        border-radius: 15px;
    }

    .left-content-zodiac {
        text-align: center;
        margin-top: 149px;
    }

    .left-content-zodiac p {
        width: 100%;
    }

    .download-button:before {
        -webkit-mask-size: 24px;
        margin-left: 15px;
    }

    .download-button:after {
        margin-left: 55px;
        font-size: 14px;
    }

    .download-button text {
        -webkit-mask-size: 22px;
        margin-right: 16px;
    }

    .frame {
        display: grid;
    }

    .frame-context-body {
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 40px;
        text-align: center;
    }

    .frame-context-back {
        height: 120px;
        right: 0;
        left: 0;
        margin: auto;
    }

    .fourth-frame.frame .frame-context-back {
        background-size: 165px;
        margin-top: 15px;
        margin-bottom: -13px;
    }

    .suborted-context-back {
        background-size: 125px;
        margin-right: -15px;
        margin-top: -35px;
    }

    .menu .logo {
        right: 0;
        margin: auto;
        margin-top: 65px;
    }

    .third-frame.frame .frame-context-back {
        margin-right: auto;
        margin-left: auto;
        background-position: center;
    }

    .buttons-frame {
        justify-content: center;
    }
}