<html>

<head>
  <%- include('../global/globalHeader') %>
  <title>Download ONVO TV</title>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@onvo_me">

  <link rel="stylesheet" href="/private_css/download/downloadStyle.css?SAdas">

</head>

<body>
  <div class="top-vserk"></div>
  <div class="right-vserk"></div>
  <div class="menu">
    <div class="logo"></div>
    <div class="back-arrow"></div>
  </div>
  <div class="first-frame">
    <div class="background-download-header">
      <div class="actual-background-header"></div>
    </div>
    <div class="left-content-zodiac">
      <p>Join the party, watch everywhere!</p><span>Experience movie nights with friends, anywhere. Connect, enjoy, and watch together, no matter the distance.</span>
      <a href="https://drive.google.com/file/d/1KCMacEXR3mlBPXwqUdkOPLU7O2h-tJ0J/view?usp=sharing" target="_blank"><div class="download-button"><text></text></div></a>
    </div>
    <div class="flex-buttons-zeio"><a href="https://play.google.com/store/apps/details?id=me.onvo.tv" target="_blank"></a><a style="
      background-image: url(/assets/appstore.svg?sss);
      background-size: 120px;
  "></a></div>
    <div class="botom-border-trans"></div>
  </div>
  <div class="secound-frame frame">
    <div class="frame-context-back"></div>
    <div class="frame-context-body"><span>Synchronized Watch Parties</span>
      <p>Enjoy watching movies, TV shows, or anime with friends and family, no matter where they are. Our app ensures perfect synchronization of playback so everyone experiences the content simultaneously, making virtual movie nights just as enjoyable as being together in person.</p>
      <div class="buttons-frame">
        <div class="button-toturial"></div>
        <div class="btx-learn-more"></div>
      </div>
    </div>
    <div class="botom-border-trans"></div>
  </div>
  <div class="third-frame frame odd">
    <div class="frame-context-back"></div>
    <div class="frame-context-body"><span>Direct Streaming Links</span>
      <p>Access your favorite content directly through provided movie links. Simply click the link and start watching immediately, eliminating the need for waiting for download. It's the quickest way to start your viewing experience. Additionally, enjoy seamless integration with popular movie providers like Netflix, Disney+, Amazon Prime, and more. Host watch parties where you and your friends can watch together </p>
      <div class="buttons-frame">
        <div class="button-toturial"></div>
        <div class="btx-learn-more"></div>
      </div>
    </div>
    <div class="botom-border-trans"></div>
  </div>
  <div class="fourth-frame frame">
    <div class="frame-context-back">
      <div class="suborted-context-back"></div>
    </div>
    <div class="frame-context-body"><span>Subtitles for Every Viewer</span>
      <p>Enhance your watch party experience with our advanced subtitle feature. Each user can set their own subtitles in their preferred language, making it easy to watch together with friends who speak different languages. This ensures everyone can enjoy the content fully, regardless of their language preferences, fostering a more inclusive and enjoyable viewing experience. </p>
      <div class="buttons-frame">
        <div class="button-toturial"></div>
        <div class="btx-learn-more"></div>
      </div>
    </div>
    <div class="botom-border-trans"></div>
  </div>
</body>

</html>