<div class="share-page hidden">
    <div class="subtitles-back" onclick="closeShare()"></div>
    <div class="top-share-flex">
        <div class="share-title"><span></span></div>
            <div class="inner-flex-shares">
                <div class="share-btns btneffect copylink" onclick="sharePartyLink(this)"></div>
                <div class="share-btns btneffect onvo" onclick="sharePartyLink(this)"></div>
                <div class="share-btns btneffect twitter" onclick="sharePartyLink(this)"></div>
                <div class="share-btns btneffect facebook" onclick="sharePartyLink(this)"></div>
                <div class="share-btns btneffect whatsapp" onclick="sharePartyLink(this)"></div>
                <div class="share-btns btneffect reddit" onclick="sharePartyLink(this)"></div>
                <div class="share-btns btneffect linkedin" onclick="sharePartyLink(this)"></div>
                <div class="share-btns btneffect instagram" onclick="sharePartyLink(this)"></div>
            </div>
        </div>
</div>
