<div class="watch-list-page actual-watch hidden">
    <div class="watch-list-back" onclick="closeWatchList(this)"></div>
    <div class="watch-list-container actual-watch-container" dtload="0">
        <div class="title-watch-list"><a>
                <p>14</p>
            </a></div>
        <div class="outset-watch-list">
            <div class="inset-watch-list">
                <div class="watchlist-appended"><p></p></div><div class="firstwatchappend poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div><div class="poster-watch loading"></div>
            </div>
        </div>
    </div>
</div>
<div class="downloads-open hidden">
    <div class="watch-list-back" onclick="closeDownloads(this)"></div>
    <div class="watch-list-container actual-downloads-open">
        <div class="title-watch-list"><a>
                <p></p>
            </a></div>
        <div class="dirsdownlaods">
            
        </div>
    </div>
</div>